<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <%0%>
  <title><%1010%></title>

  <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
  <link rel="stylesheet" type="text/css" href="styles/login/bootstrap_min.css">
  <link rel="stylesheet" type="text/css" href="styles/login/inputs.css">
  <link rel="stylesheet" type="text/css" href="styles/login/main.css">
  <link rel="stylesheet" type="text/css" href="styles/login/images.css">
  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/main.js"></script>
  <script src="scripts/jquery.placeholder.js"></script>
  <script language="javascript" type="text/javascript">
    var isIE8 = false;
    
    if (jQuery('html').hasClass('ie8'))
      isIE8 = true;

    if(isIE8)
      document.createElement("section");

    $.noConflict();
    jQuery(document).ready(function($) {
      $(function() {
      // Invoke the placeholder plugin for IE8 IE9
      $('input, textarea').placeholder();
      // That's it, really.
      });
      function loadsettings()
      {
        if(isIE8)
        {
          document.getElementById("login-body-inner").className = "";
        }
        
        var cf = document.forms["loginForm"];
        if(cf.remember_func.checked)
        {
          cf.email_auth.value=readCookie('email_auth');
          cf.passwd_auth.value=readCookie('passwd_auth');
        }
        if(cf.login_ng.value !="ng-hide")
        {
          $('.loginInfo').css('display','none');
        }
      }
      loadsettings(); 
    });
  
function pwdSetup()
{
  top.location.replace("web_login_pwd_setup.html");
}

function pwdRecovery()
{
  top.location.replace("web_login_pwd_recovery.html");
}

function createCookie(name,name_value,passwd, passwd_value, days) 
{
  var expires;
  var name_info;
  var passwd_info;
  if (days) 
  {
    var date = new Date();
    date.setTime(date.getTime()+(days*24*60*60*1000));
    expires = "; expires="+date.toGMTString();
  }
  else 
    expires = "";
  document.cookie = name+"="+name_value +expires;
  document.cookie = passwd+"="+passwd_value +expires;
}

function readCookie(itemType) 
{
  var infoLogin = itemType + "=";
  var item = document.cookie.split(';');
  var i;
  var getItem;
  for(i=0;i < item.length;i++) 
  {
    getItem = item[i];
    while (getItem.charAt(0)==' ') 
      getItem = getItem.substring(1,getItem.length);
    if (getItem.indexOf(infoLogin) == 0) 
      return getItem.substring(infoLogin.length,getItem.length);
  }
  return "";
}

function eraseCookie(name, passwd) 
{
  createCookie(name,"",passwd, "", -1);
}

function checkData() 
{
  var cf = document.forms["loginForm"];
  var email = cf.email_auth.value;
  var passwd = cf.passwd_auth.value;

  if(cf.remember_func.checked)
    createCookie('email_auth',email, 'passwd_auth', passwd, 7);
  else
    eraseCookie('email_auth', 'passwd_auth');
  cf.submit();
  return true;
}
</script>
</head>
<body class="weblogin">

<ui-view>

<div class="login-body ng-scope">
  <!--[if IE 8]><img src="./img/login/login_picture.png" height="100%" width="100%" style="position:absolute;z-index:1;"><![endif]--> 
  <div id="login-body-inner" class="login-body-inner">
    <!--[if IE 8]><img src="./img/login/login_facet.png" height="20%" width="100%" style="position:absolute;z-index:2;left:0px;bottom:0px;"><![endif]--> 
    <section class="login-form ng-scope" style="position:absolute;z-index:3;">
      <div class="login-logo"></div>  
      
      <br>
       
      <br>
        
            
      <form name="loginForm" class="ng-pristine ng-invalid ng-invalid-required" method="POST" action="web_login.cgi">
        <div class="loginInfo">
        <input type="text" ng-model="userId" id="userId" name="email_auth"  placeholder="<%1011%>" required="" value=""  class="ng-pristine ng-invalid ng-invalid-required">

        <input type="password" ng-model="password"  id="password" name="passwd_auth"  placeholder="<%1012%>" required=""  value=""  class="ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength ng-valid-pattern">

    
        <div class="<%1013%>"><%1014%></div>
        <input type="checkbox" ng-model="rememberMe" name="remember_func" id="rememberMe" value="Remember Me" class="ng-pristine ng-valid" <%1015%>>
        <label for="rememberMe" class="login-remember"><%1016%></label>
        <br>
        <input name="login_bt" id="loginBt" type="button" onclick="checkData();" value="<%1017%>">
        <!--<a id="userPwdHelp" class="<%1018%>" onclick="pwdRecovery();"><%1019%></a>-->
        </div>
        <div class="<%1020%>">
        <input id="newExtSetup" name="newext_setup" type="button" class="button-new" onclick="pwdSetup();" value="<%1021%>">
        </div>
        <input type="hidden" name="login_ng" value="<%1020%>">
        <input type="hidden" name="next_file" value="<%1022%>">
      </form>
    </section>
  </div>
</div>

</ui-view>

</body>
</html>